<%= form_with url: '/sequences/show',data: {turbo: false}, method: :get do |form| %>
  <div>
    <%= form.label :number, "Input n", style: "display:block" %>
    <%= form.number_field :number, min: 1 %>
  </div>
  </br>
  <div>
  <%= form.label :string_array, "Input numbers", style: "display:block" %>
  <%= form.text_field :string_array, style: "width:300px" %>
  </div>
  </br>
  <div class='form-check', style = 'margin: 5px;'>
    <%= form.radio_button :mode, 'xml' %> XML
    <%= form.radio_button :mode, 'html-server'%> HTML-сервер
    <%= form.radio_button :mode, 'html-client'%> HTML-клиент
  </div>
  <div>
    <%= form.submit "Check Result" %>
  </div>
<% end %>
